<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Amigos</title>
  </head>
  <body>
  <h1 class="card-title">Personas</h1>
    <table class="table"> 
      <tr>
        <th>Nombre</th>
        <th>Latitud</th>
        <th>Longitud</th>
      </tr>
      {% for amigo in lista_personas %} {# Esto es sintaxis jinja2 #}
      <tr>
        <td>{{amigo.Nombre}}</td>
        <td>{{amigo.Latitud}}</td>
        <td>{{amigo.Longitud}}</td>
      </tr>
      {% endfor %}
</table>

	<form method="POST">
<div class="input-group mb-3">
		 <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Nombre</span>
  </div>
	<input type="text" class="form-control" name="Nombre"></input>

 <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Latitud</span>
  </div>	<input type="text" class="form-control" name="Latitud"></input>

 <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Longitud</span>
  </div>  <input type="text" class="form-control" name="Longitud"></input>

</div>
	<input type="submit" name="submit" value="Submit" class="btn btn-primary">
		<input type="submit" name="reset" value="reset" class="btn btn-secondary">

	</form>    
  </body>
</html>
